<div class="verify_age gray_bg">
  <div class="container">
    <div class="white_bg">
      <% if flash[:failure] %>
        <div class="alert alert-info alert-dismissible"> <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a><%= flash[:failure] %></div>
      <% end %>
      <h2 class="text-center main-ttl">Please, verify your age to gain access to <br>
        Adolbit. You must be 21 years old or older.</h2>
      <div class="custom_dropdown age-verify-block">
        <div class="row">
          <div class="col-lg-12 col-sm-12">
            <div class="dropdown_box">
              <%= form_for @userdetail do |f| %>
                <%= f.date_select :birthday, prompt: { day: t('.day'), month: t('.month'), year: t('.year') }, start_year: Date.today.year, end_year: Date.today.year - 100, order: [:month, :day, :year]%>
                <%= f.hidden_field :verify_age, value: true %>
                <p>Built with <i class="fa fa-heart"></i> to protect children online</p>
                <%= f.submit "Submit", class: "button" %>
              <% end %>
            </div>
          </div>
        </div>   
      </div>
    </div>
  </div>
</div>